* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 1rem;
}

main {
  flex: 1;
  margin: 1rem 0;
}

header,
main,
footer,
section,
.flex-container,
.flex-item {
  border-radius: 0.5rem;
  padding: 1rem;
}

header {
  background-color: #ef476f;
  color: white;
}

header h1 {
  font-size: 2rem;
}

main {
  background-color: #ffd166;
}

section {
  margin-bottom: 2rem;
}

section h2 {
  font-size: 1.5em;
}

section p {
  line-height: 1.5rem;
}

section p code {
  font-family: "Monaco", "Courier New", monospace;
  font-weight: bold;
  color: blue;
}

footer {
  background-color: #390099;
  color: white;
}

.flex-container {
  gap: 1rem;
  background-color: #a64c30;
  display: flex;
  justify-content: space-between;
}

.flex-on-children {
  background-color: rgb(245, 245, 11);
}

main > section:nth-child(2) > div > article {
  flex: 1;
}

main > section:nth-child(3) > div > article:nth-child(1) {
  flex: 1.5;
}

main > section:nth-child(3) > div > article:nth-child(2) {
  flex: 1;
}

main > section:nth-child(3) > div > article:nth-child(3) {
  flex: 1;
}

main > section:nth-child(4) > div > article:nth-child(1) {
  flex: 2;
}

main > section:nth-child(4) > div > article:nth-child(2) {
  flex: 4;
}

main > section:nth-child(4) > div > article:nth-child(3) {
  flex: 1;
}

.flex-item {
  background-color: #4361ee;
  color: white;
}
