* {
  box-sizing: border-box;
  padding: 0px;
  margin-top: 0px;
}
body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  .width: 100vw;
  margin: 15px;
  background-color: aquamarine;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  position: relative;
}
nav {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 100%;
  font-size: 22px;
  background-color: rgb(183, 248, 227);
  text-align: center;
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0px;
  padding-top: 13px;
  z-index: 1;
}
main {
  margin-top: 20px;
}
figure {
  scale: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  text-align: center;
}
figcaption {
  color: deeppink;
  font: weight 200px;
  font-size: 33px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 30;
}
p {
  padding-top: 0px;
}

article {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-flow: nowrap;

  text-align: left;
  margin: 10px;

  border-radius: 30px;
  padding: 10px;
}

section {
  background-color: rgb(183, 248, 227);
  border-radius: 30px;

  padding: 10px;
}
aside {
  .display: inline-block;
  flex-grow: 1;

  position: sticky;
  top: 0;
  height: 65vh;

  right: 0px;
  background-color: rgb(183, 248, 227);
  padding: 10px;
  border-radius: 30px;
  z-index: 2;
}

footer {
  background-color: rgb(183, 248, 227);
  text-align: left;
  margin: 20px;
  border-radius: 30px;
  padding: 10px;
  position: relative;
}
hr {
  margin: 10px;
  border: 3px solid rgb(50, 194, 146);
  border-radius: 5px;
}
a:hover {
  color: coral;
}
a {
  color: deeppink;
  background-color: none;
}

.exit {
  .background-color: none;
  scale: 0.12;
  position: fixed;
  bottom: -87px;

  left: -92.5px;
}
@media (max-width: 600px) {
  article {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;

    text-align: left;
    margin: 10px;

    border-radius: 30px;
    padding: 10px;
  }
}
/*
a:visited {
  color: deeppink;
}
*/
